<p>burbank works!</p>
<div class="container">
        <div class="panel">
            <h3>Burbank, CA</h3>
            <p>Humidity: {{burbankWeatherData.main.humidity}}</p>
            <p>Temperature (Average in Fahrenheit): {{burbankWeatherData.main.temp}}</p>
            <p>Temperature (High in Fahrenheit): {{burbankWeatherData.main.temp_max}}</p>
            <p>Temperature (Low in Fahrenheit): {{burbankWeatherData.main.temp_min}}</p>
            <p>Status: {{burbankWeatherData.weather[0].description}}</p>
        </div>
        <div class="panel">
            <img src=""/>
        </div>
    </div>