<p>seattle works!</p>
<div class="container">
    <div class="panel">
        <h3>Seattle, WA</h3>
        <p>Humidity: {{seattleWeatherData.main.humidity}}</p>
        <p>Temperature (Average in Fahrenheit): {{seattleWeatherData.main.temp}}</p>
        <p>Temperature (High in Fahrenheit): {{seattleWeatherData.main.temp_max}}</p>
        <p>Temperature (Low in Fahrenheit): {{seattleWeatherData.main.temp_min}}</p>
        <p>Status: {{seattleWeatherData.weather[0].description}}</p>
    </div>
    <div class="panel">
        <img src="assets/img/architecture-buildings-city-37350.jpg"/>
    </div>
</div>


