<p>dc works!</p>
<div class="container">
    <div class="panel">
        <h3>Washington, DC</h3>
        <p>Humidity: {{dcWeatherData.main.humidity}}</p>
        <p>Temperature (Average in Fahrenheit): {{dcWeatherData.main.temp}}</p>
        <p>Temperature (High in Fahrenheit): {{dcWeatherData.main.temp_max}}</p>
        <p>Temperature (Low in Fahrenheit): {{dcWeatherData.main.temp_min}}</p>
        <p>Status: {{dcWeatherData.weather[0].description}}</p>
    </div>
    <div class="panel">
        <img src="assets/img/washingtonDc.jpeg"/>
    </div>
</div>