<p>chicago works!</p>
<div class="container">
        <div class="panel">
            <h3>Chicago, IL</h3>
            <p>Humidity: {{chicagoWeatherData.main.humidity}}</p>
            <p>Temperature (Average in Fahrenheit): {{chicagoWeatherData.main.temp}}</p>
            <p>Temperature (High in Fahrenheit): {{chicagoWeatherData.main.temp_max}}</p>
            <p>Temperature (Low in Fahrenheit): {{chicagoWeatherData.main.temp_min}}</p>
            <p>Status: {{chicagoWeatherData.weather[0].description}}</p>
        </div>
        <div class="panel">
            <img src=""/>
        </div>
    </div>