<p>dallas works!</p>
<div class="container">
        <div class="panel">
            <h3>Dallas, TX</h3>
            <p>Humidity: {{dallasWeatherData.main.humidity}}</p>
            <p>Temperature (Average in Fahrenheit): {{dallasWeatherData.main.temp}}</p>
            <p>Temperature (High in Fahrenheit): {{dallasWeatherData.main.temp_max}}</p>
            <p>Temperature (Low in Fahrenheit): {{dallasWeatherData.main.temp_min}}</p>
            <p>Status: {{dallasWeatherData.weather[0].description}}</p>
        </div>
        <div class="panel">
            <img src=""/>
        </div>
    </div>
